/* These styles appear on all listing pages so far */

// Sets an aspect ration for both the banner image and the image carousel
.resized-aspect-ratio {

  :deep(.sizer) {
    padding-bottom: calc(500/1160 * 100%) !important;

    @media #{$medium} {
      padding-bottom: calc(204/343 * 100%) !important;
    }
  }

  :deep(.one-column .lightbox),
  :deep(.one-column .responsive-image) {
    aspect-ratio: 1160/500;
    overflow: hidden;

    @media #{$medium} {
      aspect-ratio: 343/204;
    }
  }

  :deep(.one-column .lightbox .media-item) {
    height: auto;
  }
}

.one-column {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;

  :deep(.nav-breadcrumb ol) {
    padding: 0;
  }
}

@media (max-width: 1200px) {
  .one-column {
    padding-left: var(--unit-gutter);
    padding-right: var(--unit-gutter);
  }
}

:deep(.rich-text) {
  figure {
    margin: var(--space-l) 0;
  }
}