/* These styles appear on all listing pages so far */
/* This file can be improved or removed as listing pages are completed */
a {
  outline-color: transparent;
  font-size: 24px;
}

a:link {
  color: #ca05ca;
}

a:visited {
  color: #eb087a;
}

a:focus {
  text-decoration: none;
  background: #03c2dc;
}

a:hover {
  text-decoration: none;
  background: #07eef6;
}

a:active {
  background: #6900ff;
  color: #cdfeaa;
}