/* These styles appear on all listing pages so far */


.one-column {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;

  :deep(.nav-breadcrumb ol) {
    padding: 0;
  }
}

@media (max-width: 1200px) {
  .one-column {
    padding-left: var(--unit-gutter);
    padding-right: var(--unit-gutter);
  }
}

:deep(.rich-text) {
  figure {
    margin: var(--space-l) 0;
  }
}
