/* Shared styles for [slug].vue */

.page-detail {

  // Sets an aspect ration for both the banner image and the image carousel
  :deep(.one-column .lightbox),
  :deep(.one-column .responsive-image) {
    aspect-ratio: 1160/500;
    overflow: hidden;

    @media #{$medium} {
      aspect-ratio: 343/204;
    }
  }

  :deep(.one-column .lightbox .media-item) {
    height: auto;
  }

  :deep(.responsive-image-banner .sizer) {
    padding-bottom: calc(500/1160 * 100%) !important;

    @media #{$medium} {
      padding-bottom: calc(204/343 * 100%) !important;
    }
  }

  :deep(.one-column .lightbox .media-item) {
    height: auto;
  }

  // check for a one-column layout with a lightbox or figure before rendering blue background
  &:has(> .one-column > .lightbox-container .lightbox),
  &:has(> .one-column > figure) {
    &:before {
      content: '';
      position: absolute;
      aspect-ratio: 1440 / 520;
      max-height: 518px; //prevent overflow on large screens
      min-height: 225px; //prevent too much shrinking on small screens
      width: 100%;
      z-index: -1;
    }
  }

  &--paleblue {
    &:before {
      background-color: var(--pale-blue);
    }
  }

  &--white {
    &:before {
      background-color: var(--color-white);
    }
  }

  // recreate cardmeta title styles for h1 slots on slugs pages
  h1.title-no-link {
    @include ftva-h2;
    color: $heading-grey;
    margin: 0 0 24px;
  }

  .one-column {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;

    :deep(.nav-breadcrumb ol) {
      padding: 0;
    }
  }

  @media (max-width: 1200px) {
    .one-column {
      padding-left: var(--unit-gutter);
      padding-right: var(--unit-gutter);
    }
  }
}

.block-info.ticket-info {
  padding: 20px;

  .block-info-header {
    @include ftva-subtitle-1;
    text-align: center;
    color: $heading-grey;
    border-bottom: 1px solid $grey-blue;
    padding: 8px 0;
  }

  .block-info-list {
    padding: 16px 0 16px 20px;

    li {
      @include ftva-body-2;
      color: $body-grey;

      &::marker {
        color: $body-grey;
      }
    }
  }

  :deep(.block-info-end-wrapper) {
    margin: 0 auto;
  }

  .button-link {
    font-size: 18px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 10px auto;
  }
}

:deep(.form .iframe) {
  max-width: 100%;
}

// turn default cursor to pointers for dropdowns
:deep(.button-dropdown-modal-wrapper.is-expanded),
:deep(label.pill-label) {
  cursor: pointer;
}

// Adjust flexible block links to navigate below sticky header
.flexible-blocks.flexible-content {
  :deep(.section-wrapper) {
    >a {
      position: relative;
      top: -70px; //offset links in the document by the height of the sticky header
    }
  }

  :deep(.rich-text figure) {
    margin: var(--space-l) 0;
  }
}

:deep(.rich-text) {
  figure {
    margin: var(--space-l) 0;
  }
}

// Make all images the same in FPB Media With Text
:deep(.media-with-text .media-item) {
  aspect-ratio: 4/3;
}

:deep(.flexible-block .media-with-text .media-item) {
  @media #{$small} {
    min-width: unset;
    max-width: 100%;
  }
}
